<!doctype html>
<html lang="pt">
<head prefix="og: http://ogp.me/ns#">
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

<!-- theme color -->
<meta name="theme-color" content="#9C67FC">

<!-- facebook open graph -->
<meta property="og:title" content="">
<meta property="og:type" content="website">
<meta property="og:description" content="">
<meta property="og:image:type" content="image/png">
<meta property="og:image" content="">
<meta property="og:url" content="">

<title><%= htmlWebpackPlugin.options.title %></title>

<meta name="description" content="generate static html using webpack 📦">

<meta name="apple-itunes-app" content="app-id=514620313">

<link rel="canonical" href="<%= htmlWebpackPlugin.options.url %>">

<!-- manifest -->
<link rel="manifest" href="assets/manifest.json">

<!-- ios icon -->
<link rel="apple-touch-icon" href="images/touch-icon-iphone.png">
<link rel="apple-touch-icon" sizes="152x152" href="images/touch-icon-ipad.png">
<link rel="apple-touch-icon" sizes="167x167" href="images/touch-icon-ipad-retina.png">
<link rel="apple-touch-icon" sizes="180x180" href="images/touch-icon-iphone-retina.png">

<!-- css -->
<link rel="preload" as="style" href="assets/style.css">

<!-- google fonts -->
<link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">

<script>
  let deferredPrompt;

  window.addEventListener('beforeinstallprompt', (e) => {
    deferredPrompt = e;
  });

  function callApp() {
    if (deferredPrompt) {
      deferredPrompt.prompt();
    }
  }

  function testeLink() {
    return false
  }

  async function shareClick() {
    try {
      await navigator.share({
        title: 'Confira este link',
        text: 'Confira este imóvel em...',
        url: 'https://www.zapimoveis.com.br/imovel/venda-sobrados-3-quartos-limao-zona-norte-sao-paulo-sp-210m2-id-2574181803/',
      })
    } catch (error) {
      navigator.clipboard.writeText('https://www.zapimoveis.com.br/imovel/venda-sobrados-3-quartos-limao-zona-norte-sao-paulo-sp-210m2-id-2574181803')
    }
  }

  async function installedApps() {
    try {
      const relatedApps = await navigator.getInstalledRelatedApps()

      relatedApps.forEach((app) => {
        const li = document.createElement('li')
        li.innerHTML = app?.id
        document.querySelector('.installed-apps').appendChild(li)
      })
    } catch (error) {
      console.error('Error:', error)
    }
  }

  installedApps()
</script>

<style type="text/css">
  article ul li {
    margin: 12px 0;
  }
</style>

</head>
<body>
  <header>
    HEADER
  </header>

  <main>
    <section>
      <h1>Título da página</h1>
  
      <article>
        <p>Conteúdo do artigo...</p>
        <ul>
          <li class="menu__options__item secondary" role="menuitem"><div><a onclick="testeLink()" class="olx-core-link olx-core-link--grey olx-core-link--small" href="https://www.zapimoveis.com.br/aluguel/?itl_id=1000064&amp;itl_name=zap_-_link-header_alugar_to_zap_resultado-pesquisa" target="_self">Alugar</a></div></li>
          <li>
            <a href="https://www.zapimoveis.com.br/venda/apartamentos/sp+sao-paulo/" target="_blank">
              link - RP - blank
            </a>
          </li>
          <li>
            <a href="https://www.zapimoveis.com.br/venda/apartamentos/sp+sao-paulo/" target="_self">
              link - RP - self
            </a>
          </li>
          <li>
            <a href="https://www.zapimoveis.com.br/venda/apartamentos/sp+sao-paulo/">
              link - RP - none
            </a>
          </li>
          <li>
            <a href="https://www.zapimoveis.com.br/imovel/venda-sobrados-3-quartos-limao-zona-norte-sao-paulo-sp-210m2-id-2574181803/" target="_blank">
              link - LDP - blank
            </a>
          </li>
          <li>
            <a href="https://www.zapimoveis.com.br/imovel/venda-apartamento-2-quartos-com-piscina-limao-zona-norte-sao-paulo-sp-50m2-id-2427405125/" target="_self">
              link - LDP - self
            </a>
          </li>
          <li>
            <a href="https://www.zapimoveis.com.br/imovel/venda-apartamento-2-quartos-com-piscina-limao-zona-norte-sao-paulo-sp-50m2-id-2427405125/">
              link 3 - LDP - none
            </a>
          </li>
          <li>
            <a href="https://www.zapimoveis.com.br/guia-de-bairros/sp+sao-paulo+ipiranga/" target="_self">
              link 3 - GUIA DE BAIRROS - self
            </a>
          </li>
          <li>
            <button type="button" onclick="callApp()">
              Clique aqui e baixe o app
            </button>
          </li>
          <li>
            <button type="button" onclick="shareClick()">
              Compartilhe
            </button>
          </li>
        </ul>

        <ul class="installed-apps"></ul>
      </article>
    </section>
  </main>

  <footer>
    FOOTER
  </footer>

  <!-- javascript -->
  <script src="sw.js" async></script>
</body>
</html>
